img, media {
  max-width: 100%;
}

html, body {
    font: 14px 'Ubuntu', sans-serif;
    color: #333;
    background-color:#E2E8CA;
}
h1,h2 {
    color:#1F5C45;
}
h2 {
    margin:2em 0 0;
}
a {
    color:#375937;
}
.l-header .l-branding, .l-header .l-navigation, .l-header .l-region--navigation, .l-header .l-region--header {
    width:100%;
    margin:0;
    float:none;
    padding:0;
}
.l-header .l-branding {
    background-color:#fdfff3;
}
.l-header .l-navigation {
    background-color:#1F5C45;
}
.l-header .l-region--navigation {
    position:relative;
}
.l-header .l-region--header {
    background-color:#333;
}

#block-block-2 {
    height:auto;
    color:#fff;
    font:40px 'Satisfy', cursive;
    position:relative;
}

div.l-main {
    margin:0 auto;
    padding:36px 35px;
    background-color:#fff;
    border-radius:0 0 20px 20px;
}
.l-region--sidebar-first {
    background-color:#f4f4f1;
}

.l-navigation .block--menu ul.menu {
    margin:0;
    padding:15px 0;
    list-style:none;
}
.l-navigation .block--menu ul.menu li {
    margin:0 15px;
    padding:0;
    list-style:none;
    text-transform:uppercase;
}
.l-navigation .block--menu ul.menu li a {
    color:#fff;
    text-decoration:none;
}
.l-navigation .block--menu ul.menu li a.active {
    color:#ccc;
}
.l-navigation .block--menu ul.menu li a:hover {
    text-decoration:underline;
}
/* l-constrained */
.l-branding-inner, .l-header .l-region--navigation, .l-region--header .block {
  width: 95%;
  margin: 0 auto;
  *zoom: 1;
}
.l-header .l-region--header .block {
    float:none;
}
.l-branding-inner:after, .l-header .l-region--navigation, .l-region--header .block {
  content: "";
  display: table;
  clear: both;
}
.l-navigation .block--menu ul.menu li {
    padding:20px 0;
    font-size:20px;
    text-align:center;
}
@media (min-width: 44em) {
  .l-branding-inner, .l-header .l-region--navigation, .l-region--header .block {
    width: 90%;
  }
  
  .l-header .l-region--header {
    background:url(../images/header1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.l-navigation .block--menu ul.menu li {
    display:inline-block;
    font-size:14px;
    text-align:left;
    padding:0;
}
#block-block-2 {
    height:350px;
    font:62px 'Satisfy', cursive;
}
#block-block-2 .block__content {
    position:absolute;
    display:block;
    bottom:50px;
    right:10px;
}
}

@media (min-width: 50em) {
#block-system-user-menu {
    position:absolute;
    top:0;
    right:0;
}
}

@media (min-width: 70em) {
  .l-branding-inner, .l-header .l-region--navigation, .l-region--header .block {
    width: 80%;
  }
}